<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a Chemical Engineer, fascinated with air quality, wildland fire science, and computational science. </font></p>
                <p><font size="4px"> I am currently pursuing my Ph.D (5th year) in Chemical and Environgmental Engineering from the <a href="https://www.ucr.edu/">University of California, Riverside (UCR)</a>. Currently I am working with <a href="https://barsantigrp.engr.ucr.edu/people/Kelly-barsanti">Dr. Kelley Barsanti</a>. Our <a href="https://barsantigrp.engr.ucr.edu/">group</a> focuses on studying air qualiy by combining both field work and air quality modelling</font></p>
                <p><font size="4px"> My current research focuses on the development of algorithms for pattern recognition analysis of wildland fire smoke and faster processing of two dimensional gas chroamtography with time-of-flight mass spectrometry (GCxGC-TOFMS) data using <a href="https://www.python.org/">Python</a>.</font></p>
                
             <br/>
        </div>
    </div>
</section>






