<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a chemical engineer trying to understand how our atmosphere works and how we affect it. My work focuses on the development of algorithms for pattern recognition analysis of wildland fire smoke and faster processing of two dimensional gas chromatography with time-of-flight mass spectrometry (GCxGC-TOFMS) data using <a href="https://www.python.org/">Python</a>.</font></p>
                <p><font size="4px"> Currently I am pursuing my Ph.D (5th year) in Chemical and Environmental Engineering from the <a href="https://www.ucr.edu/">University of California, Riverside (UCR)</a> under the supervision of <a href="https://barsantigrp.engr.ucr.edu/people/Kelly-barsanti">Dr. Kelley Barsanti</a>.</font></p>
                <p><font size="4px"> I recieved my diploma in Chemical Engineering (emphasis in Environmental Engineering) at the <a href="http://www.upatras.gr/en">University of Patras</a> in Greece in 2016. My undergraduate thesis under the supervision of <a href="https://www.chemeng.upatras.gr/en/personnel/faculty/54">Dr. Spyros Pandis</a> focused on regional air quality modelling with <a href="https://doi.org/10.1016/j.atmosenv.2006.11.034">PMCAMx</a>.</font></p>
                
             <br/>
        </div>
    </div>
</section>






